{% extends 'client/base.html' %}

{% block title %}
Main Menu
{% endblock %}

{% block body %}
<h1>Main menu</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'client:list-person' %}">Persons</a>
    </li>
    <li class="list-group-item">
        Houses
    </li>
    <li class="list-group-item">
        Cars
    </li>
    <li class="list-group-item">
        Food
    </li>
</ul>
{% endblock %}