{% extends 'client/base.html' %}

{% block title %}
Register a new person
{% endblock %}

{% block body %}
<h2>Register a new person</h2>

<form method="post" enctype="multipart/form-data">
    {% include 'client/form_template.html' %}
    {% csrf_token %}
    <button type="submit">Save</button>
</form>
{% endblock %}