{% extends 'client/base.html' %}


{% block title %}
Confirm Deletion
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class="btn btn-danger" type="submit" value="Confirm">
    <a class="btn btn-outline-primary" href="{% url 'client:list-person' %}">Cancel</a>
</form>
{% endblock %}