{% extends 'client/base.html' %}

{% block title %}
Hello {{object}} 
{% endblock %}

{% block body %}
<br>
<a class="btn btn-outline-primary btn-sm" href="{% url 'client:list-person' %}">Back</a>
<br>
<br>
<div class="container">

    <div class="card text-center">
      <div class="card-header">
        Welcome
    </div>
    <div class="card-body">
        {% if object.profile_pic %}
        <img src="{{ object.profile_pic.url }}" class="card-img-top" alt="{{ object }}">
        {% endif %}
        <h5 class="card-title">
            {{object.first_name|title}} {{ object.last_name|title }}
        </h5>
        <p class="card-text">
            Age: {{ object.age }}
            <br>
            ID Number: {{ object.id_number }}
            <br>
            <b>Bio:</b>
            <br>
            {% lorem %}
        </p>
        <a href="{% url 'client:update-person' object.id %}" class="btn btn-primary">edit</a>
    </div>
    <div class="card-footer text-muted">
        {{ object.timestamp_updated }}
    </div>
</div>
</div>
{% endblock %}