{% extends 'client/base.html' %}

{% block title %}
List of People ({{ object_list|length }})
{% endblock %}

{% block body %}
<br>
<a class="btn btn-outline-primary btn-sm" href="{% url 'client:home' %}"> Home </a>
<a class="btn btn-outline-primary btn-sm" href="{% url 'client:create-person' %}"> Create Person </a> 
<br>
<br>
{% if object_list|length > 0 %}
<ul class="list-group">
    {% for person in object_list %}
    <li class="list-group-item">
        <a class="btn btn-outline-dark btn-sm" href="{% url 'client:detail-person' person.id %}">{{ person.first_name }} </a>
        <a class="btn btn-dark float-right btn-sm" href="{% url 'client:update-person' person.id %}">edit</a> 
        <a class="btn btn-danger float-right btn-sm" style="margin-right:10px" href="{% url 'client:delete-person' person.id %}">delete</a> 
    </li>
    {% endfor %}
</ul>
{% else %}
<b>No Records, yet.</b>
{% endif %}
{% endblock %}